$color-primary: #222831;
$color-secondary: #393E46;
$color-text: #EEEEEE;
$color-text-faded: #6E6E6E;

.container {
    background-color: $color-secondary;
    height: 67vh;
    color: $color-text;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: $color-primary;
        position: sticky;
        top: 0;
    }
    
    th {
        text-align: left;
        padding: 10px 8px;
        border-bottom: 1px solid $color-text;
   

        &:first-child {
            padding-left: 15px;
        }
    }

    tr:nth-child(even) {
        background-color: $color-primary
    }

    tr {
        padding: 0 10px;
        width: 100%;
        cursor: pointer;
    }

    td {
        padding: 8px 8px;

        &:first-child {
            padding-left: 15px;
        }
    }

    .add {
        text-align: center;
        width: 30px;

        i {
            position: relative;
            z-index: 3;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }
    }

    .name {
        width: 35%;
    }

    .lenght {
        width: 10%;
        text-align: center;
    }

    .artist {
        width: 15%;
    }

    .album {
        width: 15%;
    }

    .genre {
        width: 10%;
    }
}