* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.flexContainer {
    display: flex;
}

.right {
    float: right;
    max-height: 93vh;
    width: 100%;
    background-color: #393E46;
}